<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bzzzil.bottles">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BottlesApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeOtherPages">
        <activity
            android:name=".BottlesListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeList"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="bottles.bzzzil.io"
                    android:pathPrefix="/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BottleAddActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_bottle_add"
            android:parentActivityName=".BottlesListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottlesListActivity" />
        </activity>
        <activity
            android:name=".BottleDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_bottle_details"
            android:parentActivityName=".BottlesListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottlesListActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".BottlesListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottlesListActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".BottlesListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BottlesListActivity" />
        </activity>

        <provider
            android:name=".database.BottlesContentProvider"
            android:authorities="io.bzzzil.bottles.contentprovider"
            android:exported="false">
        </provider>

    </application>

</manifest>
